body {
    background: #2d2b2b;
}

main {
    width: 40vw;
    margin: 2vw;
    display: flex;
}

div {
    width: 20vw;
    display: flex;
    border-radius: 6px;
}

section {
    width: 20vw;
    display: flex;
    background-color: #676262;
    flex-direction: column;
    color: antiquewhite;
    padding: 10px;
    font-size: 20px;
}


